.page h4{
    color: #0992D5;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.page-img img{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin: 30px 5px;
}
.map-t h2{
    color: #0992D5;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 20px 0;
}
.map-t p{
    width: 673px;
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 30px 0;
}
.map-card{
   margin: 110px 0 0 0 ;
}
.mapText{
     margin: 0 140px;
}