#welcomeKyrgyzstan {
    background: url("../../img/welkom.png") no-repeat bottom/cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        .welcomeKyrgyzstan {
            h1 {
                
                text-align: center;
                color: #FFF;
                font-family: Poppins, sans-serif;
                font-size: 48px;
                font-weight: 900;
            }
        }
    }
}