@import './components/AboutRouts/index.scss';
@import './components/Account/index.scss';
@import './components/Contact/index.scss';
@import './components/Footer/index.scss';
@import './components//Header/index.scss';
@import './components/HotelPage/index.scss';
@import  './components/Hotels/index.scss';
@import './components//Main/index.scss';
@import './components//Map/index.scss';
@import './components/Popular/index.scss';
@import './components/Reviews/index.scss';
@import './components/Rout/index.scss';
@import './components/Son/index.scss';
@import './components/Kol/index.scss';
@import './components/Altyn/index.scss';
@import './components/Arashan/index.scss';
@import './components/MapText/index.scss';
@import './components/Traditions/index.scss';
@import './components/TradText/index.scss';

@import "./components/KyrgyzDetail/index.scss";
@import "./components/KyrgyzDeatilPage/index.scss";
@import "./components/WelcomKyrgyzstan/index.scss";
@import "./components/WelcomePage/index.scss";
@import "./components/CultureDetailPage/index.scss";
@import "./components/CulturePage/index.scss";
@import "./components/ContactPage/index.scss";
@import "./components/OurMission/index.scss";
@import "./components/OurMissionDetail/index.scss";
@import "./components/TermsOfUs/index.scss";
@import "./components/TermOfUsdetail/index.scss";
@import "./components/Register/index.scss";
@import "./components/Account/index.scss";

*{
     margin: 0;
     padding: 0;
}
.container{
     margin: 0  auto ;
     width: 1440px;
}
a{
     text-decoration: none;
}
button{
    cursor: pointer;
}

